nbproject/private
upload/library/Doctrine
upload/library/Zend
upload/library/ZendX/Application53
upload/library/ZendX/Doctrine2
upload/data/assets/*
upload/data/cache/*
upload/data/logs/*
upload/data/proxies/*
tests/log
upload/CMS/Core/Resource/js/jquery.min.js
upload/CMS/Core/Resource/js/jquery-ui
