#adminMenu {
    display: block;
    width: 100%;
    background-color: #000;
    height: 2.5em;
    line-height: 2.5em;
    color: #ccc;
}

    #adminMenu li {
        float: left;
        display: block;
        margin: 0;
        padding: 0;
    }

        #adminMenu li a {
            text-align: center;
            font-size: 1.1em;
            color: #ccc;
            display: block;
            text-decoration: none;
            padding: 0 1em;
        }

        #adminMenu li a:hover {
            color: #eee;
            background-color: #333;
        }

.hidden {
    display: none;
}

ul.block-actions {
    display: block;
    float: right;
}

    ul.block-actions li {
        display: block;
        float: right;
        height: 15px;
        width: 15px;
        background-color: #ccc;
        margin: 0 0 0 5px;
    }

.page-block-new {
    display: block;
    float: right;
    clear: both;
}

    .page-block-new a {
        display: block;

    }