#adminMenu {
    display: block;
    width: 100%;
    background-color: #000;
    height: 2.5em;
    line-height: 2.5em;
    color: #ccc;
}

    #adminMenu li {
        float: left;
        display: block;
        margin: 0;
        padding: 0;
    }

        #adminMenu li a {
            text-align: center;
            font-size: 1.1em;
            color: #ccc;
            display: block;
            text-decoration: none;
            padding: 0 1em;
        }

        #adminMenu li a:hover {
            color: #eee;
            background-color: #333;
        }

.yui3-dd-drop {
    min-height: 3em;
}
.yui3-dd-drop-active-valid {
    background-color: #f0eea6;
}

.hidden {
    display: none;
}

.page-block-new {
    display: block;
    float: right;
}

    .page-block-new a {
        display: block;

    }